/*  your css code here. If applicable */
body {
  background-color: #f5f5f5;
  margin: 0;
  padding: 0;
}

header {
  background-color: #011e29;
  color: #fff;
  padding: 5px;
  text-align: center;
}

h1 {
  margin: 0;
  text-align: centre;
}

.content {
  display: flex;
  justify-content: space-between;
  padding: 20px;
}

div {
  border-radius: 20px;
  flex-basis: 30%;
  padding: 10px;
  background-color: white;
  margin-bottom: 0px;
}
.latest-news-section{ 
	width: auto;
	border-radius: 20px;
  flex-basis: 30%;
  padding: 10px;
  background-color: white;
  margin-bottom: 30px;
	text-align: center;
}
.Main-Article{
	width: auto;
	border-radius: 20px;
  flex-basis: 30%;
  padding: 10px;
  background-color: white;
  margin-bottom: 20px;
	text-align: center;
}
.pictorial-news-section{
	width: auto;
	border-radius: 20px;
    flex-basis: 30%;
    padding: 10px;
    background-color: white;
    margin-bottom: 0px;
	text-align: center;
}
